<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home 01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Assets/images/icons/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/util.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/main.css">
</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <div class="topbar">
                <div class="content-topbar container h-100">
                    <div class="left-topbar">
                        <a href="~/Assets/#" class="left-topbar-item">
                            Hakkımızda
                        </a>

                        <a href="~/Assets/#" class="left-topbar-item">
                            İletişim
                        </a>

                        <a href="~/Assets/#" class="left-topbar-item">
                            Kayıt Ol
                        </a>

                        <a href="~/Assets/#" class="left-topbar-item">
                            Giriş Yap
                        </a>
                    </div>

                    <div class="right-topbar">
                        <a href="~/Assets/#">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-pinterest-p"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-vimeo-v"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Header Mobile -->
            <div class="wrap-header-mobile">
                <!-- Logo moblie -->
                <div class="logo-mobile">
                    <a href="Home/Index"><img src="~/Assets/images/icons/logo-01.png" alt="IMG-LOGO"></a>
                </div>

                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>

            <!-- Menu Mobile -->
            <div class="menu-mobile">
                <ul class="topbar-mobile">
                    <li class="left-topbar">
                        <span class="left-topbar-item flex-wr-s-c">
                            <span>
                                New York, NY
                            </span>

                            <img class="m-b-1 m-rl-8" src="~/Assets/images/icons/icon-night.png" alt="IMG">

                            <span>
                                HI 58° LO 56°
                            </span>
                        </span>
                    </li>

                    <li class="left-topbar">
                        <a href="~/Assets/#" class="left-topbar-item">
                            About
                        </a>

                        <a href="~/Assets/#" class="left-topbar-item">
                            Contact
                        </a>

                        <a href="~/Assets/#" class="left-topbar-item">
                            Sing up
                        </a>

                        <a href="~/Assets/#" class="left-topbar-item">
                            Log in
                        </a>
                    </li>

                    <li class="right-topbar">
                        <a href="~/Assets/#">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-pinterest-p"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-vimeo-v"></span>
                        </a>

                        <a href="~/Assets/#">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                </ul>

                <ul class="main-menu-m">
                    <li>
                        <a href="~/Assets/index.html">Home</a>
                        <ul class="sub-menu-m">
                            <li><a href="~/Assets/index.html">Homepage v1</a></li>
                            <li><a href="~/Assets/home-02.html">Homepage v2</a></li>
                            <li><a href="~/Assets/home-03.html">Homepage v3</a></li>
                        </ul>

                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>

                    <li>
                        <a href="~/Assets/category-01.html">News</a>
                    </li>

                    <li>
                        <a href="~/Assets/category-02.html">Entertainment </a>
                    </li>

                    <li>
                        <a href="~/Assets/category-01.html">Business</a>
                    </li>

                    <li>
                        <a href="~/Assets/category-02.html">Travel</a>
                    </li>

                    <li>
                        <a href="~/Assets/category-01.html">Life Style</a>
                    </li>

                    <li>
                        <a href="~/Assets/category-02.html">Video</a>
                    </li>

                    <li>
                        <a href="~/Assets/#">Features</a>
                        <ul class="sub-menu-m">
                            <li><a href="~/Assets/category-01.html">Category Page v1</a></li>
                            <li><a href="~/Assets/category-02.html">Category Page v2</a></li>
                            <li><a href="~/Assets/blog-grid.html">Blog Grid Sidebar</a></li>
                            <li><a href="~/Assets/blog-list-01.html">Blog List Sidebar v1</a></li>
                            <li><a href="~/Assets/blog-list-02.html">Blog List Sidebar v2</a></li>
                            <li><a href="~/Assets/blog-detail-01.html">Blog Detail Sidebar</a></li>
                            <li><a href="~/Assets/blog-detail-02.html">Blog Detail No Sidebar</a></li>
                            <li><a href="~/Assets/about.html">About Us</a></li>
                            <li><a href="~/Assets/contact.html">Contact Us</a></li>
                        </ul>

                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>
                </ul>
            </div>

            <!--  -->
            <div class="wrap-logo container">
                <!-- Logo desktop -->
                <div class="logo">
                    <a href="Home/Index"><img src="~/Assets/images/icons/logo-01.png" alt="LOGO"></a>
                </div>

                <!-- Banner -->
                <div class="banner-header">
                    <a href="~/Assets/#"><img src="~/Assets/images/banner-01.jpg" alt="IMG"></a>
                </div>
            </div>

            <!--  -->
            <div class="wrap-main-nav">
                <div class="main-nav">
                    <!-- Menu desktop -->
                    <nav class="menu-desktop">
                        <a class="logo-stick" href="~/Assets/index.html">
                            <img src="~/Assets/images/icons/logo-01.png" alt="LOGO">
                        </a>
                        <ul class="main-menu">
                            <li class="mega-menu-item">
                                @Html.ActionLink("Gündem", "Detail", "Category", new { Id = "1" })
                            </li>

                            <li class="mega-menu-item">
                                @Html.ActionLink("Eğlence", "Detail", "Category", new { Id = "2" })
                            </li>
                            <li class="mega-menu-item">
                                @Html.ActionLink("Teknoloji", "Detail", "Category", new { Id = "8" })
                            </li>
                            <li class="mega-menu-item">
                                @Html.ActionLink("İş", "Detail", "Category", new { Id = "3" })
                            </li>
                            <li class="mega-menu-item">
                                @Html.ActionLink("Bilim", "Detail", "Category", new { Id = "9" })
                            </li>
                            <li class="mega-menu-item">
                                @Html.ActionLink("Gezi", "Detail", "Category", new { Id = "4" })
                            </li>

                            <li class="mega-menu-item">
                                @Html.ActionLink("Yaşam", "Detail", "Category", new { Id = "5" })
                            </li>

                            <li class="mega-menu-item">
                                @Html.ActionLink("Spor", "Detail", "Category", new { Id = "6" })
                            </li>
                            <li class="mega-menu-item">
                                @Html.ActionLink("Otomobil", "Detail", "Category", new { Id = "7" })
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="bg2 p-t-40 p-b-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <a href="~/Assets/index.html">
                                <img class="max-s-full" src="~/Assets/images/icons/logo-02.png" alt="LOGO">
                            </a>
                        </div>

                        <div>
                            <p class="f1-s-1 cl11 p-b-16">
                                Gündemini en yakından siz takip edin!
                            </p>

                            <div class="p-t-15">
                                <a href="~/Assets/#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-facebook-f"></span>
                                </a>

                                <a href="~/Assets/#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-twitter"></span>
                                </a>

                                <a href="~/Assets/#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-pinterest-p"></span>
                                </a>

                                <a href="~/Assets/#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-vimeo-v"></span>
                                </a>

                                <a href="~/Assets/#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-youtube"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                               Popüler Başlıklar
                            </h5>
                        </div>

                        <ul>
                            @foreach (var item in Cache.ListArticle.Where(x => x.Category == CategoryEnums.Technology).Take(3))
                            {
                                <li class="flex-wr-sb-s p-b-20">
                                    <a href="@item.Url" class="size-w-4 wrap-pic-w hov1 trans-03">
                                        <img src="@item.Photo" alt="IMG">
                                    </a>

                                    <div class="size-w-5">
                                        <h6 class="p-b-5">
                                            <a href="@item.Url" class="f1-s-5 cl11 hov-cl10 trans-03">
                                               @item.Header
                                            </a>
                                        </h6>

                                        <span class="f1-s-3 cl6">
                                           @item.Generator
                                        </span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                                . . .
                            </h5>
                        </div>

                        <ul class="m-t--12">
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="~/Assets/#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    Reklam 
                                </a>
                            </li>

                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="~/Assets/#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    Yasal Uyarı 
                                </a>
                            </li>

                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="~/Assets/#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    Hakkımızda
                                </a>
                            </li>

                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="~/Assets/#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    İletişim 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg11">
            <div class="container size-h-4 flex-c-c p-tb-15">
                <span class="f1-s-1 cl0 txt-center">
                    Copyright © 2020

                    <a href="#" class="f1-s-1 cl10 hov-link1">
                        <script>document.write(new Date().getFullYear());</script> by Çerezlik</a>
                </span>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <span class="fas fa-angle-up"></span>
        </span>
    </div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/js/main.js"></script>

</body>
</html>